body, html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

.layout {
    max-width: 1920px;
}

.Header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    height: 80px;
    width: 100%;
    transition: 300ms ease;

    &__logo {
        margin-left: 100px;
    }

    &--scrolling {
        background-color: #5E2BFF;
    }
}

.Icon {
    position: relative;
    z-index: 5;
    background: transparent;
    border: none;
    color: #ffffff;
    margin-right: 100px;
    cursor: pointer;
    transition: 200ms ease;

    &--svg {
        width: 30px;
        height: auto;
    }

    &:hover, &:focus {
        color: #bdbdbd;
    }
}

.Navigation {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(600px);
    width: 395px;
    height: 100%;
    background-color: #5E2BFF;
    transition: 300ms ease;
    box-shadow: -25px 0px 100px rgba(0, 0, 0, 0.15);


    &--open {
        transform: translateX(0px);
    }

    &__nav {
        margin-top: 150px;

        &--ul {
            list-style-type: none;
        }

        &--li {
            margin: 35px 0px;
        }

        &--link {
            position: relative;
            font-weight: 700;
            font-size: 28px;
            color: #F7F6C5;
            text-decoration: none;
            transition: 200ms ease;

            &--active {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0px;
                    right: 0px;
                    display: block;
                    height: 5px;
                    background-color: #F7F6C5;
                }
            }

            &:hover, &:focus {
                color: #AA90E2;
            }
        }
    }

    &__social {
        position: absolute;
        bottom: 50px;
        right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--link {
            color: #ffffff;
            transition: 200ms ease;

            &:first-of-type {
                margin-bottom: 5px;
            }

            &--icon {
                width: 24px;
                height: auto;
            }

            &:hover, &:focus {
                color: #bdbdbd;
            }
        }
    }
}

.Landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    overflow: hidden;

    &:before {
        filter: blur(16px);
        transform: scale(1.1);
    }

    &__heading {
        font-family: Lora, serif;
        font-size: 42px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        margin: 0px 200px;
        margin-bottom: 100px;

        &--keyword {
            color: #FC6DAB;
        }
    }

    &__buttons {

        &--btn {
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
            padding: 0.8em 4em;
            text-decoration: none;
            box-sizing: border-box;
            width: 100%;
            border: 3px solid #639A88;
            transition: 200ms ease;

            &--primary {
                background-color: #639A88;
                margin-right: 20px;
            }

            &:hover, &:focus {
                background-color: #528473;
                border-color: #528473;
            }
        }
    }

    &__social {
        position: absolute;
        bottom: 50px;
        right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--link {
            color: #ffffff;
            transition: 200ms ease;

            &:first-of-type {
                margin-bottom: 5px;
            }

            &--icon {
                width: 24px;
                height: auto;
            }

            &:hover, &:focus {
                color: #bdbdbd;
            }
        }
    }

    &__scrollLink {
        position: absolute;
        bottom: 30px;
        right: 50%;
        transform: translateX(50%);
        color: #ffffff;
        transition: 200ms ease;
        padding: 1em;

        &--icon {
            transform: rotate(90deg);
            width: 24px;
            height: auto;
        }

        &:hover, &:focus {
            transform: translate(50%, 15px);
            color: #bdbdbd;
        }
    }
}

.HomeBtn {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #639A88;
    padding: 1em 4em;
    padding-left: 15px;
    text-decoration: none;
    transition: 200ms ease;

    &__icon {
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        transition: 200ms ease;
    }

    &:hover, &:focus {
        background-color: #528473;

        .HomeBtn__icon {
            transform: translateY(-50%) translateX(15px);
        }
    }
}

.HomeWhy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    margin: 200px 100px;

    &__img {

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            width: 100%;
            height: 100%;
            background-color: #639A88;
        }

        overflow: visible !important;
        position: relative;
        flex-shrink: 0;
        width: 400px;
        height: 400px;
    }

    &__container {
        margin-left: 35px;

        &--title {
            font-size: 48px;
            font-weight: 800;
            color: #121212;
            margin-top: 0px;
            margin-bottom: 15px;
        }

        &--text {
            font-size: 18px;
            font-weight: 500;
            color: #1A1A1A;
            line-height: 1.2em;
            margin-bottom: 100px;
        }
    }
}

.HomeProj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    height: 100vh;

    overflow: hidden;

    &:before {
        filter: blur(16px);
        transform: scale(1.1);
    }

    &__container {
        
        &--title {
            font-family: Lora, serif;
            font-size: 48px;
            font-weight: 800;
            max-width: 50%;
            color: #ffffff;
            line-height: 1.2em;
        }

        &--text {
            font-size: 18px;
            font-weight: 500;
            max-width: 50%;
            line-height: 1.2em;
            margin-bottom: 100px;
            color: #eeeeee;
        }
    }
}

.HomeFeed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 100px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 35px;

        &--title {
            font-size: 48px;
            font-weight: 800;
            text-align: right;
            color: #121212;
            margin-top: 0px;
            margin-bottom: 15px;
        }

        &--text {
            font-size: 18px;
            font-weight: 500;
            text-align: right;
            color: #1A1A1A;
            line-height: 1.2em;
            margin-bottom: 100px;
        }
    }

    &__img {
        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100%;
            height: 100%;
            background-color: #639A88;
        }

        overflow: visible !important;
        position: relative;
        flex-shrink: 0;
        width: 400px;
        height: 400px;
    }
}

.Footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5E2BFF;
    padding: 0px 100px;

    &__container {

        &--title {
            max-width: 75%;
            font-size: 46px;
            font-weight: 800;
            color: #ffffff;
            margin-bottom: 15px;
        }

        &--subtitle {
            max-width: 50%;
            font-size: 28px;
            font-weight: 600;
            color: #997BFF;
            line-height: 1.2em;
            margin-top: 0px;
            margin-bottom: 50px;
        }

        &--link {
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            color: #5E2BFF;
            background-color: #F7F6C5;
            padding: 0.8em 3em;
            text-decoration: none;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #cfcfa5;
            }
        }
    }

    &__social {
        position: absolute;
        bottom: 50px;
        right: 50%;
        transform: translateX(-50%);

        &--link {
            color: #ffffff;
            transition: 200ms ease;

            &:first-of-type {
                margin-right: 5px;
            }

            &:hover, &:focus {
                color: #bdbdbd;
            }

            &--icon {
                width: 24px;
                height: auto;
            }
        } 
    }

    &__copyright {
        position: absolute;
        bottom: 50px;
        right: 100px;
        font-size: 16px;
        font-weight: 600;
        color: #E8E8E8;
    }
}

.FeaturedWorkbook {
    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: #3A0B81;
    }

    display: flex;
    justify-content: center;
    padding: 0px 100px;
    padding-top: 100px;

    &__img {
        min-width: 50%;
        height: 800px;
        box-shadow: 10px 25px 100px rgba(0, 0, 0, 0.15);
    }

    &__right {
        position: relative;
        margin-left: 20px;
        color: #ffffff;
        max-width: 50%;

        &--title {
            font-family: Lora, serif;
            font-size: 64px;
            font-weight: 700;
        }

        &--detail-title {
            font-size: 16px;
            font-weight: 500;
            color: #C8C8C8;
            margin-bottom: 5px;
        }

        &--price {
            font-size: 42px;
            font-weight: 700;
            margin: 0px 0px;
            margin-bottom: 50px;
        }

        &--link {
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            padding: 1em 4em;
            background-color: #C8F881;
            color: #3A0B81;
            text-decoration: none;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #9fc762;
            }
        }

        &--scrollLink {
            display: flex;
            font-size: 18px;
            font-weight: 500;
            color: #DFDFDF;
            text-decoration: none;
            padding: 0.5em 1em;
            transition: 200ms ease;
            white-space: nowrap;
            margin-top: 100px;

            &:hover, &:focus {
                color: #C8C8C8;
            }

            &--icon {
                margin-left: 15px;
            }
        }
    }
}

.WorkbookRoll {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin: 200px 100px;
    margin-top: 300px;

    &__link {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.75);
            opacity: 0;
            transition: 200ms ease;
        }

        &:hover, &:focus {
            &:after {
                opacity: 1;
            }

            .WorkbookRoll__link--title {
                opacity: 1;
            }
        }

        &--title {
            position: absolute;
            z-index: 15;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            opacity: 0;
            transition: 200ms ease;
        }

        &--img {
            width: 100%;
        }
    }
}

.Workbook {
    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50vh;
        background-color: #3A0B81;
    }

    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    padding-top: 100px;

    &__img {
        flex-shrink: 0;
        width: 50%;
        height: 50%;
        box-shadow: 10px 25px 100px rgba(0, 0, 0, 0.15);
    }

    &__right {
        position: relative;
        margin-left: 20px;

        &--detail-title {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: #B8B8B8;
            margin-bottom: 5px;
        }

        &--title {
            font-family: Lora, serif;
            font-size: 72px;
            font-weight: 700;
            color: #ffffff;
            margin-top: 0px;
            height: 175px;
            margin-bottom: 100px;
        }

        &--img {
            display: none;
            width: 100%;
            box-shadow: 10px 25px 100px rgba(0, 0, 0, 0.15);
        }

        &--desc {
            font-size: 18px;
            font-weight: 500;
            color: #1A1A1A;
            line-height: 1.2em;
            margin-bottom: 25px;
        }

        &--price {
            font-size: 20px;
            font-weight: 500;
            color: #1A1A1A;
            margin-top: 0px;
            margin-bottom: 50px;
        }

        &--download {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 20px;
            font-weight: 600;
            color: #3A0B81;
            text-align: center;
            width: 295px;
            height: 70px;
            // padding: 1em 4em;
            margin-bottom: 75px;
            background-color: #C8F881;
            text-decoration: none;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #9fc762;
            }

            &--icon {
                position: absolute;
                right: 25px;
            }
        }

        &--preview {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
            row-gap: 20px;

            &--img {
                position: relative;
                box-sizing: border-box;
                border: 5px solid #C8F881;
                cursor: pointer;
                transform: 200ms ease;
                
                &:hover, &:focus {
                    border-color: #9fc762;
                }
            }
        }
    }
}

.OtherWorkbooks {
    margin: 200px 0px;
    padding: 0px 100px;

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: #121212;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        &--link {
            position: relative;
    
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0px;
                left: 0px;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.75);
                opacity: 0;
                transition: 200ms ease;
            }
    
            &:hover, &:focus {
                &:after {
                    opacity: 1;
                }
    
                .OtherWorkbooks__container--link--title {
                    opacity: 1;
                }
            }
    
            &--title {
                position: absolute;
                z-index: 15;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                color: #ffffff;
                opacity: 0;
                transition: 200ms ease;
            }
    
            &--img {
                width: 100%;
            }
        }
    }
}

.TutoringLanding {
    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: #3F05C2;
    }

    display: flex;
    justify-content: center;
    padding: 0px 100px;
    padding-top: 100px;

    &__img {
        min-width: 50%;
        height: 800px;
        box-shadow: 10px 25px 100px rgba(0, 0, 0, 0.15);
    }

    &__right {
        position: relative;
        margin-left: 20px;
        color: #ffffff;

        &--title {
            font-family: Lora, serif;
            font-size: 64px;
            font-weight: 700;
        }

        &--detail-title {
            font-size: 16px;
            font-weight: 500;
            color: #C8C8C8;
            margin-bottom: 5px;
        }

        &--price {
            font-size: 42px;
            font-weight: 900;
            margin: 0px;
            margin-top: 5px;
            margin-bottom: 50px;

            &--detail {
                font-size: 16px;
                font-weight: 500;
                color: #C8C8C8;
            }
        }

        &--link {
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            padding: 1em 4em;
            background-color: #BCF739;
            color: #3A0B81;
            text-decoration: none;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #a0d137;
            }
        }

        &--scrollLink {
            display: flex;
            font-size: 18px;
            font-weight: 500;
            color: #DFDFDF;
            text-decoration: none;
            padding: 0.5em 1em;
            transition: 200ms ease;
            white-space: nowrap;
            margin-top: 100px;

            &:hover, &:focus {
                color: #C8C8C8;
            }

            &--icon {
                min-width: 24px;
                margin-left: 15px;
            }
        }
    }
}

.TutoringHow {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex: 1 1;
    margin: 200px 100px;
    margin-top: 50vh;

    &__img {

        &:before {
            content: '';
            position: absolute;
            top: 20px;
            right: 20px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 10px solid #BCF739;
        }

        overflow: visible !important;
        position: relative;
        flex-shrink: 0;
        width: 500px;
        height: 500px;
    }

    &__container {
        margin-left: 35px;

        &--title {
            font-size: 48px;
            font-weight: 800;
            color: #121212;
        }

        &--text {
            font-size: 18px;
            font-weight: 500;
            color: #1A1A1A;
            max-width: 75%;
            line-height: 1.2em;
            margin-bottom: 25px;
        }
    }
}

.TutoringFeedback {
    display: flex;
    justify-content: center;
    margin: 200px 100px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 35px;

        &--title {
            font-size: 48px;
            font-weight: 800;
            text-align: right;
            color: #121212;
        }

        &--text {
            font-size: 18px;
            font-weight: 500;
            text-align: right;
            color: #1A1A1A;
            max-width: 75%;
            line-height: 1.2em;
            // margin-bottom: 100px;
        }
    }

    &__img {
        &:before {
            content: '';
            position: absolute;
            top: 20px;
            left: 20px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 10px solid #BCF739;
        }

        overflow: visible !important;
        position: relative;
        flex-shrink: 0;
        width: 500px;
        height: 500px;
    }
}

.TutoringPayment {
    display: flex;
    justify-content: center;
    flex: 1 1;
    margin: 200px 100px;
    margin-top: 300px;

    &__img {

        &:before {
            content: '';
            position: absolute;
            top: 20px;
            right: 20px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 10px solid #BCF739;
        }

        overflow: visible !important;
        position: relative;
        flex-shrink: 0;
        width: 500px;
        height: 500px;
    }

    &__container {
        margin-left: 35px;

        &--title {
            font-size: 48px;
            font-weight: 800;
            color: #121212;
        }

        &--text {
            font-size: 18px;
            font-weight: 500;
            color: #1A1A1A;
            max-width: 75%;
            line-height: 1.2em;
            margin-bottom: 25px;
        }
    }
}

.TutoringDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background-color: #3F05C2;
    margin-bottom: 200px;
    padding: 0px 100px;

    &__container {
        margin: 0px 20px;
        
        &--subtitle {
            font-size: 28px;
            font-weight: 800;
            color: #7A48EC;
        }

        &--title {
            font-size: 52px;
            font-weight: 900;
            color: #F6F6F6;
            margin: 0px;
            margin-top: 15px;
        }

        &:last-of-type {
            min-width: 300px;
        }
    }
}

.TutoringBook {
    margin: 200px 100px;

    &__form {

        &--input {
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #1A1A1A;
            background-color: #F9F9F9;
            padding: 1em;
            border: none;
            border-bottom: 5px solid #BCF739;

            &::placeholder {
                color: #888787
            }

            &--select {
                color: #888787;
            }
        }

        &--rowFull {
            display: flex;
        }

        &--rowHalf {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
            row-gap: 20px;
            margin-bottom: 20px;
        }

        &--twoThirds {
            display: grid;
            grid-template-columns: 4fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
            margin-bottom: 20px;
        }

        &--inputDate {
            width: 100%;
            display: flex;
            position: relative;

            &--input {
                width: 100%;
                color: #888787;
                padding-left: 15px;
                text-transform: uppercase;
            }

            &--label {
                position: absolute;
                left: 15px;
                top: 3px;
                font-size: 12px;
                font-weight: 600;
                color: #888787;
            }
        }

        &--textarea {
            display: block;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #1a1a1a;
            width: 100%;
            background-color: #F9F9F9;
            padding: 1em;
            border: none;
            border-bottom: 5px solid #BCF739;
            min-height: 300px;
            resize: none;
            margin-bottom: 25px;

            &::placeholder {
                color: #888787
            }
        }

        &--btn {
            font-size: 18px;
            font-weight: 600;
            color: #3F05C2;
            width: 100%;
            background-color: #BCF739;
            border: none;
            padding: 1em;
            text-transform: uppercase;
            cursor: pointer;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #a0d137;
            }
        }
    }
}

.AboutLanding {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0543C2;
    padding: 0px 100px;

    &__title {
        font-family: Lora, serif;
        font-size: 72px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        margin: 0px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 52px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        margin: 0px;
    }

    &__scrollLink {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
        transition: 200ms ease;

        &:hover, &:focus {
            color: #C8C8C8;        
        }
    }
}

.AboutAttention {
    margin: 200px 100px;

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: #121212;
        line-height: 1.2em;
        max-width: 40%;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        color: #1A1A1A;
        line-height: 1.6em;
        max-width: 70%;
        margin-bottom: 25px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.AboutDetails {
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin: 200px 100px;

    &__container {
        flex-basis: 50%;

        &:first-of-type {
            margin-right: 20px;
        }
        
        &--title {
            font-size: 48px;
            font-weight: 700;
            color: #121212;
            line-height: 1.2em;
            max-width: 90%;
        }

        &--text {
            font-size: 18px;
            font-weight: 500;
            color: #1A1A1A;
            line-height: 1.6em;
            max-width: 90%;
        }
    }
}

.FeaturedArticle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #2F13B8;
    }

    position: relative;
    padding: 100px 100px;

    &__heading {
        font-size: 48px;
        font-weight: 800;
        color: #CCE943;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 5px;
    }

    &__container {
        display: flex;

        &--img {
            &:before {
                content: '';
                position: absolute;
                top: 10px;
                right: 10px;
                width: 100%;
                height: 100%;
                background-color: #CCE943;
            }

            position: relative;
            overflow: visible !important;
            width: 50%;
        }

        &--right {
            max-width: 50%;
            margin-left: 20px;

            &--title {
                font-family: Lora, serif;
                font-size: 52px;
                font-weight: 700;
                color: #ffffff;
                margin: 0px;
                margin-bottom: 15px;
            }

            &--desc {
                font-size: 18px;
                font-weight: 500;
                color: #EFEFEF;
                line-height: 1.2em;
                margin-bottom: 50px;
            }

            &--link {
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                color: #2F13B8;
                background-color: #CCE943;
                text-decoration: none;
                padding: 1em 3em;
                transition: 200ms ease;

                &:hover, &:focus {
                    background-color: #b0c933;
                }
            }
        }
    }
}

.BlogRoll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin: 0px 100px;
    margin-bottom: 200px;

    &__article {

        &--img {
            &:before {
                content: '';
                position: absolute;
                top: 5px;
                right: 5px;
                width: 100%;
                height: 100%;
                background-color: #CCE943;
                display: block;
            }

            overflow: visible !important;
            width: 100%;
            height: 250px;
        }

        &--title {
            font-size: 38px;
            font-weight: 700;
            color: #121212;
            margin: 25px 0px;
        }

        &--desc {
            font-size: 18px;
            font-weight: 500;
            color: #1A1A1A;
            margin-bottom: 50px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical; 
            overflow: hidden;
        }

        &--link {
            display: block;
            font-size: 18px;
            font-weight: 600;
            color: #2F13B8;
            background-color: #CCE943;
            text-decoration: none;
            padding: 1em;
            text-align: center;
            transition: 200ms ease;

            &:hover, &:focus {
                background-color: #b0c933;
            }
        }
    }
}

.Article {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50vh;
        background-color: #2F13B8;
    }

    padding: 200px 100px;
    padding-top: 100px;

    &__date {
        font-size: 18px;
        font-weight: 400;
        color: #E8E8E8;
    }

    &__title {
        font-family: Lora, serif;
        font-size: 62px;
        font-weight: 700;
        color: #ffffff;
        max-width: 75%;
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 35px;
    }

    &__img {
        max-width: 75%;
        margin: auto;
        box-shadow: 15px 25px 50px rgba(0, 0, 0, 0.15);
    }

    &__container {
        font-size: 18px;
        font-weight: 500;
        color: #1A1A1A;
        line-height: 1.4em;
        max-width: 75%;
        margin: auto;
        margin-top: 100px;

        & p {
            margin-bottom: 25px;

            &:last-of-type {
                margin-bottom: 0px;
            }

            & .gatsby-resp-image-wrapper {
                box-shadow: 15px 25px 50px rgba(0, 0, 0, 0.15);
                margin: 50px;
            }
        }

        //https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
        & blockquote {
            background: #f9f9f9;
            border-left: 5px solid #ccc;
            margin: 1.5em 10px;
            padding: 0.5em 10px;
            quotes: "\201C""\201D""\2018""\2019";
        }
        & blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 2em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        & blockquote p {
            display: inline;
        }
        
    }
}

.NotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #5E2BFF;
    padding: 0px 100px;

    &__container {
        max-width: 75%;

        &--heading {
            font-family: Lora, serif;
            font-size: 72px;
            font-weight: 800;
            color: #ffffff;
            line-height: 1.4em;
            margin: 0px;
            margin-bottom: 35px;
        }

        &--text {
            font-size: 20px;
            font-weight: 600;
            color: #F9F9F9;
            margin-bottom: 50px;
        }

        &--link {
            position: relative;
            display: inline-block;
            font-size: 18px;
            font-weight: 600;
            color: #5E2BFF;
            background-color: #F7F6C5;
            padding: 0.8em 3em;
            text-decoration: none;
            transition: 200ms ease;

            &--icon {
                position: absolute;
                top: 50%;
                left: 25px;
                transform: translateY(-50%);
                transition: 200ms ease;
            }

            &:hover, &:focus {
                background-color: #cfcfa5;

                .NotFound__container--link--icon {
                    transform: translate(-15px, -50%);
                }
            }
        }
    }
}

// Media Queries

@media (max-width: 1024px) and (min-height: 1366px) {
    .FeaturedArticle {
        &:before {
            height: 65vh;
        }
    }
}

@media(max-width: 1366px) and (min-height: 1024px) {
    .FeaturedArticle {
        &:before {
            height: 65vh;
        }
    }
}

@media(max-width: 1000px) {
    .HomeWhy {
        &__container {
            &--title {
                font-size: 38px;
            }

            &--text {
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }

    .HomeProj {
        &__container {
            &--title {
                font-size: 38px;
            }

            &--text {
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }

    .HomeFeed {
        &__container {
            &--title {
                font-size: 38px;
            }

            &--text {
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }

    .TutoringHow {
        align-items: center;

        &__img {
            width: 400px;
            height: 400px;
        }

        &__container {

            &--title {
                font-size: 38px;
                margin-top: 0px;
            }

            &--text {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }

    .TutoringFeedback {
        align-items: center;

        &__img {
            width: 400px;
            height: 400px;
        }

        &__container {

            &--title {
                font-size: 38px;
                margin-top: 0px;
            }

            &--text {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }

    .TutoringPayment {
        align-items: center;

        &__img {
            width: 400px;
            height: 400px;
        }

        &__container {

            &--title {
                font-size: 38px;
                margin-top: 0px;
            }

            &--text {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }

    .FeaturedArticle {
        &__heading {
            font-size: 38px;
        }

        &__container {
            &--right {
                &--title {
                    font-size: 38px;
                }
            }
        }
    }

    .BlogRoll {
        &__article {
            &--title {
                font-size: 32px;
            }
        }
    }

    .Article {
        &__title {
            max-width: 100%;
        }

        &__img {
            max-width: 100%;
        }

        &__container {
            max-width: 100%;
        }
    }
}

@media(max-width: 900px) {
    .Header {
        &__logo {
            margin-left: 50px;
        }
    }

    .Icon {
        margin-right: 50px;
    }

    .Navigation__social {
        right: 50px;
    }

    .Landing {
        &__heading {
            margin: 0px 50px;
            margin-bottom: 100px;
        }

        &__social {
            right: 50px;
        }
    }

    .HomeWhy {
        margin: 200px 50px;
    }

    .HomeProj {
        padding-left: 50px;
    }

    .HomeFeed {
        margin: 200px 50px;
    }

    .Footer {
        padding: 0px 50px;

        &__container {
            &:first-of-type {
                margin-right: 20px;
            }

            &--title {
                max-width: 100%;
            }

            &--subtitle {
                max-width: 100%;
            }
        }

        &__copyright {
            right: 50px;
        }
    }

    .FeaturedWorkbook {
        padding: 0px 50px;
        padding-top: 100px;

        &__img {
            height: 100vh;
        }
    }

    .WorkbookRoll {
        margin: 200px 50px;
    }

    .Workbook {
        padding: 0px 50px;
        padding-top: 100px;

        &__right {
            &--title {
                font-size: 52px;
                margin-bottom: 50px;
            }
        }
    }

    .OtherWorkbooks {
        padding: 0px 50px;
    }

    .TutoringLanding {
        padding: 0px 50px;
        padding-top: 100px;
    }

    .TutoringHow {
        margin: 200px 50px;
        margin-top: 300px;
    }

    .TutoringFeedback {
        margin: 200px 50px;
    }

    .TutoringPayment {
        margin: 200px 50px;
    }

    .TutoringDetails {
        padding: 0px 50px;
    }

    .TutoringBook {
        margin: 200px 50px;
    }

    .AboutLanding {
        padding: 0px 50px;
    }

    .AboutAttention {
        margin: 200px 50px;

        &__title {
            max-width: 100%;
        }
    }

    .AboutDetails {
        margin: 200px 50px;
    }

    .FeaturedArticle {
        padding: 100px 50px;
    }

    .BlogRoll {
        margin: 0px 50px;
        margin-bottom: 200px;
    }

    .Article {
        padding: 200px 50px;
        padding-top: 100px;

        &__title {
            font-size: 52px;
        }
    }

    .NotFound {
        padding: 0px 50px;

        &__container {
            max-width: 100%;
        }
    }
}

@media(max-width: 800px) {
    .HomeWhy {
        flex-direction: column;
        align-items: center;

        &__img {
            margin-bottom: 35px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0px;

            &--title {
                text-align: center;
            }

            &--text {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .HomeProj {
        &__container {
            &--title {
                max-width: 75%;
            }

            &--text {
                font-size: 18px;
                max-width: 75%;
            }
        }
    }

    .HomeFeed {
        flex-direction: column;
        align-items: center;

        &__img {
            order: 1;
            margin-bottom: 35px;
        }

        &__container {
            order: 2;
            justify-content: center;
            align-items: center;
            margin-right: 0px;

            &--title {
                text-align: center;
            }

            &--text {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .Footer {
        &__container {
            &--title {
                font-size: 38px;
            }

            &--subtitle {
                font-size: 22px;
            }
        }
    }

    .FeaturedWorkbook {
        &__right {
            &--title {
                font-size: 52px;
                margin-top: 0px;
            }

            &--link {
                display: block;
                padding: 1em;
                text-align: center;
            }
        }
    }

    .TutoringLanding {
        &__img {
            height: 100vh;
            min-width: 60%;
        }

        &__right {
            max-width: 40%;

            &--title {
                font-size: 52px;
                margin-top: 0px;
            }

            &--link {
                display: block;
                padding: 1em;
                text-align: center;
            }

            &--scrollLink {
                align-items: center;
                padding: 0px;
                white-space: normal;
                text-align: center;
            }
        }
    }

    .TutoringHow {
        flex-direction: column;

        &__img {
            margin-bottom: 50px;
        }

        &__container {
            justify-content: center;
            align-items: center;
            margin-left: 0px;

            &--title {
                text-align: center;
            }

            &--text {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .TutoringFeedback {
        flex-direction: column;

        &__img {
            order: 1;
            margin-bottom: 50px;
        }

        &__container {
            order: 2;
            justify-content: center;
            align-items: center;
            margin-right: 0px;

            &--title {
                text-align: center;
            }

            &--text {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .TutoringPayment {
        flex-direction: column;

        &__img {
            margin-bottom: 50px;
        }

        &__container {
            justify-content: center;
            align-items: center;
            margin-left: 0px;

            &--title {
                text-align: center;
            }

            &--text {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .TutoringDetails {
        &__container {

            &--title {
                font-size: 42px;
            }

            &:last-of-type {
                min-width: 230px;
            }
        }
    }

    .FeaturedArticle {
        &:before {
            display: none;
        }

        background-color: #2F13B8;
        padding-bottom: 0px;
        margin-bottom: 100px;

        &__heading {
            font-size: 32px;
        }

        &__container {
            flex-direction: column;

            &--img {
                width: 100%;
            }

            &--right {
                max-width: 100%;
                margin-left: 0px;
                margin-top: 35px;

                &--title {
                    font-size: 48px;
                }

                &--desc {
                    margin-bottom: 35px;
                }

                &--link {
                    display: block;
                    text-align: center;
                    padding: 1em;
                    margin-bottom: -25px;
                }
            }
        }
    }

    .BlogRoll {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 700px) {
    .FeaturedWorkbook {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 100px;
        height: auto;
        background-color: transparent;

        &__img {
            order: 2;
            min-width: 100%;
            height: 75vh;
        }

        &__right {
            order: 1;
            max-width: 100%;
            margin-left: 0px;
            margin-bottom: 50px;

            &--title {
                margin-bottom: 25px;
            }

            &--scrollLink {
                display: none;
            }
        }
    }

    .WorkbookRoll {
        margin-top: 100px;
        grid-template-columns: repeat(3, 1fr);
    }

    .Workbook {
        flex-direction: column;

        &__img {
            display: none;
        }

        &__right {
            order: 1;
            margin-left: 0px;

            &--title {
                margin-bottom: 35px;
                height: auto;
            }

            &--img {
                display: block;
                margin-bottom: 50px;
            }
        }
    }

    .OtherWorkbooks {

        &__container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .TutoringLanding {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 100px;
        height: auto;
        background-color: transparent;

        &__img {
            order: 2;
            min-width: 100%;
            height: 75vh;
        }

        &__right {
            order: 1;
            width: 100%;
            max-width: 100%;
            margin-left: 0px;
            margin-bottom: 50px;

            &--title {
                margin-bottom: 25px;
            }

            &--scrollLink {
                display: none;
            }
        }
    }

    .TutoringHow {
        margin: 100px 50px;
    }

    .TutoringFeedback {
        margin: 100px 50px;
    }

    .TutoringPayment {
        margin: 100px 50px;
    }

    .TutoringDetails {
        margin-bottom: 100px;
    }

    .TutoringBook {
        margin: 100px 50px;

        &__form {
            &--rowHalf {
                grid-template-columns: repeat(1, 1fr);
            }

            &--twoThirds {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .AboutLanding {
        &__title {
            font-size: 52px;
        }

        &__subtitle {
            font-size: 38px;
        }
    }

    .AboutAttention {
        margin: 100px 50px;

        &__text {
            max-width: 100%;
        }
    }

    .AboutDetails {
        margin: 100px 50px;
        flex-direction: column;

        &__container {
            &:first-of-type {
                margin-right: 0px;
            }

            &--title {
                max-width: 100%;
            }

            &--text {
                max-width: 100%;
            }
        }
    }

    .NotFound {
        
        &__container {
            &--heading {
                font-size: 48px;
            }
        }
    }
}

@media(max-width: 650px) {
    .Landing {
        &__heading {
            font-size: 38px;
        }
    }

    .HomeWhy {
        margin: 100px 50px;
    }

    .HomeFeed {
        margin: 100px 50px;
    }

    .Footer {
        flex-direction: column;
        align-items: flex-start;

        &__container {
            margin-bottom: 50px;
            width: 100%;

            &:first-of-type {
                margin-right: 0px;
            }

            &--subtitle {
                margin-bottom: 25px;
            }
        }

        &__social {
            position: relative;
            left: 0px;
            right: 0px;
            bottom: 0px;
            transform: translateX(0);
            margin-bottom: 25px;
        }

        &__copyright {
            position: relative;
            left: 0px;
            bottom: 0px;
            right: 0px;
            margin-bottom: 20px;
        }
    }

    .TutoringDetails {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        padding: 100px 50px;

        &__container {
            margin: 0px 0px;
            margin-bottom: 50px;

            &--title {
                font-size: 52px;
            }

            &:last-of-type {
                margin-bottom: 0px;
                min-width: 300px;
            }
        }
    }

    .BlogRoll {
        grid-template-columns: repeat(1, 1fr);

        &__article {
            &--title {
                font-size: 38px;
            }
        }
    }

    .Article {
        padding: 100px 50px;

        &__title {
            font-size: 42px;
        }

        &__container {
            margin-top: 35px;
        }
    }
}

@media(max-width: 550px) {
    .Header {
        &__logo {
            margin-left: 20px;
        }
    }

    .Icon {
        margin-right: 20px;
    }

    .Navigation__social {
        right: 20px;
    }

    .Landing {

        &__heading {
            margin: 0px 20px;
            margin-bottom: 35px;
            text-align: left;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            width: calc(100% - 20px);

            &--btn {
                &--primary {
                    margin-right: 0px;
                    margin-bottom: 15px;
                }

                text-align: center;
            }
        }

        &__social {
            right: 20px;
        }
    }

    .HomeWhy {
        margin: 100px 20px;

        &__img {
            width: 350px;
            height: 350px;
        }
    }

    .HomeProj {
        padding-left: 20px;
    }

    .HomeFeed {
        margin: 100px 20px;

        &__img {
            width: 350px;
            height: 350px;
        }
    }

    .Footer {
        padding: 0px 20px;
    }

    .FeaturedWorkbook {
        padding: 0px 20px;
        padding-top: 100px;
    }

    .WorkbookRoll {
        margin: 100px 20px;
    }

    .Workbook {
        padding: 0px 20px;
        padding-top: 100px;
    }

    .OtherWorkbooks {
        padding: 0px 20px;
    }

    .TutoringLanding {
        padding: 0px 20px;
        padding-top: 100px;
    }

    .TutoringHow {
        margin: 100px 20px;
    }

    .TutoringFeedback {
        margin: 100px 20px;
    }

    .TutoringPayment {
        margin: 100px 20px;
    }

    .TutoringDetails {
        padding: 100px 20px;
    }

    .TutoringBook {
        margin: 100px 20px;
    }

    .AboutLanding {
        padding: 0px 20px;

        &__title {
            font-size: 44px;
        }

        &__subtitle {
            font-size: 32px;
        }
    }

    .AboutAttention {
        margin: 100px 20px;

        &__title {
            font-size: 38px;
            margin-bottom: 15px;
        }
    }

    .AboutDetails {
        margin: 100px 20px;

        &__container {

            &--title {
                font-size: 32px;
                margin-bottom: 15px;
            }
        }
    }

    .FeaturedArticle {
        padding: 100px 20px;
        padding-bottom: 0px;
    }

    .BlogRoll {
        margin: 0px 20px;
        margin-bottom: 100px;
    }

    .Article {
        padding: 100px 20px;
    }

    .NotFound {
        padding: 0px 20px;

        &__container {

            &--heading {
                font-size: 38px;
            }

            &--text {
                font-size: 18px;
            }
        }
    }
}

@media(max-width: 450px) {
    .Footer {
        height: auto;
        padding-top: 50px;
    }

    .HomeBtn {
        font-size: 16px;
    }

    .WorkbookRoll {
        grid-template-columns: repeat(2, 1fr);
    }

    .Workbook {
        &__right {

            &--download {
                width: 100%;
            }

            &--preview {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .OtherWorkbooks {
        margin-top: 100px;

        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .TutoringHow {
        &__img {
            width: 280px;
            height: 280px;
        }
    }

    .TutoringFeedback {
        &__img {
            width: 280px;
            height: 280px;
        }
    }

    .TutoringPayment {
        &__img {
            width: 280px;
            height: 280px;
        }
    }

    .FeaturedArticle {
        &__container {
            &--right {
                &--title {
                    font-size: 38px;
                }
            }
        }
    }

    .BlogRoll {
        &__article {
            &--title {
                font-size: 38px;
            }
        }
    }
}

@media(max-width: 400px) {
    .Header {
        height: 50px;

        &__logo {
            &--img {
                height: 15px;
            }
        }
    }

    .Navigation {
        width: 100%;
        justify-content: center;

        &__nav {
            margin-top: 0px;
        }

        &__social {
            flex-direction: row;
            bottom: 15px;
    
            &--link {
                &:first-of-type {
                    margin-bottom: 0px;
                    margin-right: 5px;
                }
            }
        }
    }

    .Landing {

        &__heading {
            font-size: 28px;
        }

        &__buttons {
            &--btn {
                font-size: 16px;
            }
        }

        &__social {
            flex-direction: row;
            bottom: 15px;

            &--link {
                &:first-of-type {
                    margin-bottom: 0px;
                    margin-right: 5px;
                }
            }
        }

        &__scrollLink {
            bottom: 15px;
            padding: 0.2em;
        }
    }

    .HomeWhy {

        &__img {
            width: 280px;
            height: 280px;
        }

        &__container {

            &--title {
                font-size: 32px;
            }

            &--text {
                font-size: 16px;
            }
        }
    }

    .HomeProj {
        padding: 0px 20px;

        &__container {
            &--title {
                max-width: 100%;
            }

            &--text {
                max-width: 100%;
            }
        }
    }

    .HomeFeed {
        &__img {
            width: 280px;
            height: 280px;
        }

        &__container {

            &--title {
                font-size: 32px;
            }

            &--text {
                font-size: 16px;
            }
        }
    }

    .Footer {
        &__container {
            &--title {
                font-size: 28px;
            }

            &--subtitle {
                font-size: 18px;
            }

            &--link {
                font-size: 16px;
            }
        }
    }

    .WorkbookRoll {
        grid-template-columns: repeat(1, 1fr);
    }

    .OtherWorkbooks {
        &__container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .TutoringHow {
        &__img {
            &:before {
                top: 10px;
                right: 10px;
            }
        }

        &__container {
            align-items: flex-start;

            &--title {
                text-align: left;
            }

            &--text {
                text-align: left;
            }
        }
    }

    .TutoringFeedback {
        &__img {
            &:before {
                top: 10px;
                left: 10px;
            }
        }

        &__container {
            align-items: flex-end;

            &--title {
                text-align: right;
            }

            &--text {
                text-align: right;
            }
        }
    }

    .TutoringPayment {
        &__img {
            &:before {
                top: 10px;
                left: 10px;
            }
        }

        &__container {
            align-items: flex-start;

            &--title {
                text-align: left;
            }

            &--text {
                text-align: left;
            }
        }
    }

    .FeaturedArticle {
        &__heading {
            font-size: 26px;
        }

        &__container {
            &--right {
                &--title {
                    font-size: 32px;
                }
            }
        }
    }

    .BlogRoll {
        &__article {
            &--title {
                font-size: 32px;
            }
        }
    }

    .Article {
        &__title {
            font-size: 32px;
        }

        &__container {
            font-size: 16px;
        }
    }

    .NotFound {
        &__container {
            &--heading {
                margin-bottom: 15px;
            }
            
            &--text {
                margin-bottom: 25px;
            }

            &--link {
                display: block;
            }
        }
    }
}