body, html {
    width: 100%;
}

.Header {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    height: 80px;
    width: 100%;

    &__logo {
        margin-left: 100px;
    }
}

.Icon {
    position: relative;
    z-index: 5;
    background: transparent;
    border: none;
    color: #ffffff;
    margin-right: 100px;
    cursor: pointer;
    transition: 200ms ease;

    &--svg {
        width: 30px;
        height: auto;
    }

    &:hover, &:focus {
        color: #bdbdbd;
    }
}

.Navigation {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(395px);
    width: 395px;
    height: 100%;
    background-color: #5E2BFF;
    transition: 300ms ease;
    box-shadow: -25px 0px 100px rgba(0, 0, 0, 0.15);


    &--open {
        transform: translateX(0px);
    }

    &__nav {
        margin-top: 150px;

        &--li {
            margin: 35px 0px;
        }

        &--link {
            position: relative;
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: #F7F6C5;
            text-decoration: none;
            transition: 200ms ease;

            &--active {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0px;
                    right: 0px;
                    display: block;
                    height: 5px;
                    background-color: #F7F6C5;
                }
            }

            &:hover, &:focus {
                color: #AA90E2;
            }
        }
    }
}

.Landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__heading {
        font-family: Lora, serif;
        font-size: 42px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        margin: 0px 200px;
        margin-bottom: 100px;

        &--keyword {
            color: #FC6DAB;
        }
    }

    &__buttons {

        &--btn {
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
            padding: 0.8em 4em;
            text-decoration: none;
            box-sizing: border-box;
            width: 100%;
            border: 3px solid #639A88;
            transition: 200ms ease;

            &--primary {
                background-color: #639A88;
                margin-right: 20px;
            }

            &:hover, &:focus {
                background-color: #528473;
                border-color: #528473;
            }
        }
    }

    &__social {
        position: absolute;
        z-index: 15;
        bottom: 50px;
        right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--link {
            color: #ffffff;
            transition: 200ms ease;

            &--icon {
                width: 24px;
                height: auto;
            }

            &:hover, &:focus {
                color: #bdbdbd;
            }
        }
    }

    &__scrollLink {
        position: absolute;
        bottom: 30px;
        right: 50%;
        transform: translateX(50%);
        color: #ffffff;
        transition: 200ms ease;
        padding: 1em;

        &--icon {
            transform: rotate(90deg);
            width: 24px;
            height: auto;
        }

        &:hover, &:focus {
            transform: translate(50%, 15px);
            color: #bdbdbd;
        }
    }
}